<div class="row">
    <div class="col mt-1">
        <h1 class="h2"><i role="button" (click)="volver()"
                class="h3 bi bi-chevron-left pe-2"></i>{{this.tituloPantalla}}</h1>
    </div>
</div>
<div class="container">
    <!-- <ng-container *ngIf="this.modo == this.modoEdicion.perfilVer"></ng-container> -->
    <form *ngIf="this.modo != this.modoEdicion.perfilVer; else perfilSoloLectura" [formGroup]="this.formUsuario"
        (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <h2 class="h4 mt-3 border-bottom">Foto de perfil</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img role="button" (click)="this.abrirFoto(this.formulario['foto'].value)" class="rounded-circle"
                    src="{{this.formulario['foto'].value}}" alt="" height="100" width="100">
                <label for="file" role="button">
                    <a class="btn btn-primary ms-3 text-white">Elegir nueva imagen de perfil</a>
                </label>
                <input hidden role="button" type="file" name="" id="file" accept="image/*"
                    (change)="this.obtenerFoto($event)">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h4 mt-5 border-bottom">Información básica</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="nombre" class="form-label required">Nombre</label>
                <input formControlName="nombre" id="nombre" type="text" class="form-control" placeholder="Nombre"
                    aria-label="Nombre">
                <span *ngIf="this.submitted && formulario['nombre'].invalid" class="error">Este campo es
                    obligatorio</span>
            </div>
            <div class="col">
                <label for="apellidos" class="form-label required">Apellidos</label>
                <input formControlName="apellidos" id="apellidos" type="text" class="form-control"
                    placeholder="Apellidos" aria-label="Apellidos">
                <span *ngIf="this.submitted && formulario['apellidos'].invalid" class="error">Este campo es
                    obligatorio</span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="correo" class="form-label required">Correo</label>
                <input formControlName="correo" id="correo" type="text" class="form-control" placeholder="Correo"
                    aria-label="Correo">

            </div>
            <div class="col">
                <label for="pass" class="form-label required">Contraseña</label>
                <input formControlName="pass" id="pass" type="password" class="form-control" placeholder="Contraseña"
                    aria-label="Contraseña">
                <div class="error" *ngIf="submitted && formulario['pass'].errors">
                    <div *ngIf="formulario['pass'].errors['required']">Este campo es obligatorio</div>
                    <div *ngIf="formulario['pass'].errors['pattern']">Debe tener al menos un dígito, una minúscula, una
                        mayúscula y tener como mínimo 8 caracteres</div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="fecha_nacimiento" class="form-label required">Fecha de nacimiento</label>
                <input formControlName="fecha_nacimiento" id="fecha_nacimiento" type="date" class="form-control"
                    placeholder="Fecha de nacimiento" aria-label="Fecha de nacimiento">
                <span class="error" *ngIf="this.submitted && formulario['fecha_nacimiento'].invalid ">Este campo es
                    obligatorio</span>
                <span class="error"
                    *ngIf="this.submitted && (this.getFechaSeleccionada(formulario['fecha_nacimiento'].value) > this.fechaMin)">Solo
                    se
                    permite el registro de mayores de edad.</span>

            </div>
            <div class="col">
                <label for="ciudad" class="form-label required">Ciudad de residencia</label>
                <input formControlName="ciudad" id="ciudad" class="form-control" list="ciudades" id="exampleDataList"
                    placeholder="Escribe para buscar..." (focus)="this.listaCiudades()">
                <datalist id="ciudades">
                    <option *ngFor="let item of ciudades" [value]="item">
                </datalist>
                <span *ngIf="this.submitted && formulario['ciudad'].invalid" class="error">Este campo es
                    obligatorio</span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="h4 mt-5 border-bottom">Cuéntanos más sobre ti</h2>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="descripcion" class="form-label required">Descripción</label>
                <textarea formControlName="descripcion" id="descripcion" class="form-control" rows="3"
                    placeholder="Defínete en algunas palabras para que los demás puedan conocerte mejor"></textarea>
                <span *ngIf="this.submitted && formulario['descripcion'].invalid" class="error">Este campo es
                    obligatorio</span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="numHijos" class="form-label">Número de hijos</label>
                <input formControlName="numHijos" id="numHijos" type="number" class="form-control" value="0" min="0"
                    max="100">
            </div>
            <div class="col">
                <label for="genero" class="form-label required">Género</label>
                <select class="form-select" (change)="cambiarGenero($event)" formControlName="genero">
                    <option *ngFor="let g of gustosGenero" [value]="g.id">
                        {{ g.descripcion }}
                    </option>
                </select>
                <!-- error block -->
                <span class="error" *ngIf="submitted && formulario['genero'].invalid">
                    Este campo es obligatorio
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h4 mt-5">Preferencias, hobbies y actividades</h2>
                <h2 class="h5 pt-3 border-bottom">Preferencias</h2>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col pe-4">
                <label for="gustosGenero" class="form-label required">Género</label>
                <div class="w-100 d-flex justify-content-between form-check">
                    <ng-container *ngFor="let genero of this.gustosGenero">
                        <label for="genero{{genero.descripcion.replace(' ', '_')}}" class="form-check-label">
                            <input id="genero{{genero.descripcion.replace(' ', '_')}}" type="checkbox"
                                [value]="genero.id" (change)="cambiarGustosGenero($event)" class="form-check-input"
                                [checked]="this.usuario.gustosGenero?.includes(genero.id)" />

                            {{genero.descripcion}}
                        </label>
                    </ng-container>
                </div>
                <span class="error" *ngIf="submitted && formulario['gustosGenero'].invalid">Este campo es
                    obligatorio</span>
            </div>
            <div class="col-3">
                <label for="edadMinima" class="form-label required">Edad mínima</label>
                <input formControlName="edadMinima" type="number" id="edadMinima" class="form-control" name=""
                    [min]="18">
                <span class="error" *ngIf="submitted && formulario['edadMinima'].invalid">
                    <span *ngIf="this.formulario['edadMinima'].errors!['required']">
                        Este campo es obligatorio
                    </span>
                    <span *ngIf="this.formulario['edadMinima'].errors!['min'].min">
                        En esta aplicación sólo puede haber mayores de edad
                    </span>
                </span>

            </div>
            <div class="col-3">
                <label for="edadMaxima" class="form-label required">Edad máxima</label>
                <input formControlName="edadMaxima" type="number" id="edadMaxima" class="form-control" name="">
                <span class="error"
                    *ngIf="submitted && formulario['edadMaxima'].value < formulario['edadMinima'].value">Asegúrese de
                    que la edad máxima es mayor que la mínima</span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="relacion" class="form-label required">Relación</label>
                <select class="form-select" (change)="cambiarRelacion($event)" formControlName="relacion">
                    <option *ngFor="let tr of tipoRelacion" [value]="tr.intensidad">
                        {{ tr.descripcion }}
                    </option>
                </select>
                <span class="error" *ngIf="submitted && formulario['gustosGenero'].invalid">Este campo es
                    obligatorio</span>
            </div>
            <div class="col">
                <label for="sinohijos">Hijos</label>
                <br>
                <br>
                <label for="hijos" class="form-check-label">
                    <input id="hijos" type="checkbox" class="form-check-input"
                        (change)="cambiarPreferenciasHijos($event)"
                        [checked]="this.buscarIntensidad(this.usuario.preferencias, '¿Quiero hijos?') > 0" />
                    ¿Quiere tener hijos o más hijos?
                </label>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h5 pt-4 border-bottom">Hobbies y actividades</h2>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="deportes" class="form-label">Deportes</label>
                <div class="input-group mb-3">
                    <input formControlName="deportes" type="number" class="form-control" id="deportes"
                        aria-describedby="addonDeportes">
                    <span class="input-group-text" id="addonDeportes">%</span>
                </div>
            </div>
            <div class="col">
                <label for="arte" class="form-label">Arte</label>
                <div class="input-group mb-3">
                    <input formControlName="arte" type="number" class="form-control" id="arte"
                        aria-describedby="addonArte">
                    <span class="input-group-text" id="addonArte">%</span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label for="cultura" class="form-label">Cultura</label>
                <div class="input-group mb-3">
                    <input formControlName="cultura" type="cultura" class="form-control" id="cultura"
                        aria-describedby="addonCultura">
                    <span class="input-group-text" id="addonCultura">%</span>
                </div>
            </div>
            <div class="col">
                <label for="politica" class="form-label">Política</label>
                <div class="input-group mb-3">
                    <input formControlName="politica" type="number" class="form-control" id="politica"
                        aria-describedby="addonPolitica">
                    <span class="input-group-text" id="addonPolitica">%</span>
                </div>
            </div>
        </div>

        <ng-container
            *ngIf="this.modo !== this.modoEdicion.perfilEditar && this.modo !== this.modoEdicion.perfilVer && this.modo !== this.modoEdicion.creacionFuera">

            <div class="row">
                <div class="col">
                    <h2 class="h4 mt-5 border-bottom">Administración</h2>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-6 pe-4">
                    <label for="roles" class="form-label">Roles de acceso</label>
                    <div class="w-100 d-flex justify-content-between form-check">
                        <ng-container *ngFor="let rol of this.roles">
                            <label for="rol{{rol.descripcion}}" class="form-check-label">
                                <input id="rol{{rol.descripcion}}" type="checkbox" [value]="rol.id"
                                    (change)="cambiarRoles($event)" class="form-check-input"
                                    [checked]="this.usuario.roles?.includes(rol.id)" />
                                {{rol.descripcion}}
                            </label>
                        </ng-container>
                    </div>
                    <!-- <p class="error" *ngIf="this.formUsuario.controls['gustosGenero'].errors?.['required']">
                    Por favor, selecciona al menos algún género.
                  </p> -->
                </div>
                <div class="col-6">
                    <label for="roles" class="form-label">Activación de usuario</label>
                    <br>
                    <label for="activado" class="form-check-label">
                        <input id="activado" type="checkbox" class="form-check-input" (change)="cambiarActivo($event)"
                            [checked]="this.usuario.activo == 1" />
                        Activado
                    </label>
                </div>
            </div>
        </ng-container>

        <div class="row py-3">
            <div class="col d-flex justify-content-end">
                <input class="btn btn-secondary me-3" type="reset" value="Cancelar" (click)="volver()" />
                <input class="btn btn-primary text-white" type="submit" value="Guardar cambios" />
            </div>
        </div>
    </form>
    <ng-template #perfilSoloLectura>
        <form [formGroup]="this.formUsuario">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img role="button" (click)="this.abrirFoto(this.formulario['foto'].value)" class="rounded"
                        src="{{this.formulario['foto'].value}}" alt="" height="250" width="250">
                </div>
            </div>

            <div class="row pt-3">
                <div class="col d-flex justify-content-center">
                    <p class="h5">{{this.formulario['descripcion'].value}}</p>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col d-flex justify-content-center">
                    <i class="bi bi-pin-map-fill me-3"></i>
                    <p>{{this.formulario['ciudad'].value}}</p>
                </div>
                <div class="col d-flex justify-content-center">
                    <ng-container *ngFor="let g of gustosGenero">
                        <ng-container *ngIf="g.id + '' === this.formulario['genero'].value+''">
                            <i class="bi bi-{{this.iconoGenero(g.id)}} me-3"></i>
                            <p>{{g.descripcion}}</p>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="bi bi-person-square me-3"></i>
                    <p>{{this.formulario['numHijos'].value}} hijos</p>
                </div>
            </div>

            
            <div class="row pt-3">
                <div class="col">
                    <label for="deportes" class="form-label"><i class="bi bi-dribbble"></i>  Deportes</label>
                    <input readonly type="range" class="form-range" min="0" max="100" id="deportes"
                        [value]="this.formulario['deportes'].value">
                </div>
                <div class="col">
                    <label for="arte" class="form-label"><i class="bi bi-brush-fill"></i>  Arte</label>
                    <input readonly type="range" class="form-range" min="0" max="100" id="arte"
                        [value]="this.formulario['arte'].value">
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <label for="cultura" class="form-label"><i class="bi bi-book-fill"></i>  Cultura</label>
                    <input readonly type="range" class="form-range" min="0" max="100" id="cultura"
                        [value]="this.formulario['cultura'].value">
                </div>
                <div class="col">
                    <label for="politica" class="form-label"><i class="bi bi-chat-dots-fill"></i>  Política</label>
                    <input readonly type="range" class="form-range" min="0" max="100" id="politica"
                        [value]="this.formulario['politica'].value">
                </div>
            </div>
        </form>
    </ng-template>
</div>