<div class="card m-3 col-12">
    <div class="row g-0">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <img src="https://picsum.photos/1200" class="img-fluid rounded-start">
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex justify-content-center g-3">
                    <button class="btn-primary rounded-circle" style="background-color: red; border-color: red; width: 70px; height: 70px;">
                        <i class="bi bi-heart-fill" style="color:white; font-size: 2rem;"></i>
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-center g-3">
                    <button class="btn-primary rounded-circle" style="background-color: blue; border-color: blue; width: 70px; height: 70px;">
                        <i class="bi bi-x-lg" style="color:white; font-size: 2rem;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body">
                <h2 class="card-title">Nombre Apellido</h2>
                <h5 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, alias
                    deleniti corrupti inventore repudiandae a corporis praesentium dolores, saepe at accusantium
                    commodi impedit voluptatum aliquid quos dolor. Qui, odit dolore?</h5>
                <p class="card-text"><small class="text-muted">Preferencia 1: 100%</small></p>
                <p class="card-text"><small class="text-muted">Preferencia 2: 10%</small></p>
                <p class="card-text"><small class="text-muted">Preferencia 3: 50%</small></p>
                <p class="card-text"><small class="text-muted">Preferencia 4: 70%</small></p>
                <p class="card-text"><small class="text-muted">Preferencia 5: 80%</small></p>
                <p class="card-text"><small class="text-muted">Preferencia 6: 10%</small></p>
            </div>
        </div>
    </div>
</div>