.logo {
    width: 100%;
}

.hetero {
    background-image: url('../assets/images/h.jpeg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.gay {
    background-image: url('../assets/images/g.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.lesbiana {
    background-image: url('../assets/images/l.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}