<div class="container-fluid g-0">
    <div *ngIf="this.router.url.includes('/home') 
    || this.router.url.includes('/admin')
    ; else loggedOut" class="row">
        <app-navbar class="col-3"></app-navbar>
        <div class="col-9">
            <router-outlet></router-outlet>
            <div class="row">
                <app-footer></app-footer>
            </div>
        </div>
    </div>

    <ng-template #loggedOut>
        <div class="row">
            <div class="col-6" class="{{this.clase}}">
            </div>
            <div class="col-6">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </ng-template>
</div>