<div class="container-fluid g-0">
   
        <!--<div *ngIf="false;else elseBlock" class="row">
            <app-navbar class="col-3"></app-navbar>
            <div class="col-7">
                <h1>{{title}}</h1>
            </div>
        </div>
        <ng-template #elseBlock class="row">
            <app-navbar class="col-5"></app-navbar>
            <div class="col-5">
                <h1>{{title}} ghrjfigyuitep</h1>
            </div>
        </ng-template>-->
        <div class="row">
        <app-navbar class="col-3"></app-navbar>
        <div class="col-9">
            <div class="row">
                <router-outlet></router-outlet>
                <!--<app-listado-gente-afin></app-listado-gente-afin>-->
            </div>
            <div class="row">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
   
</div>


