<div class="row">
    <div class="col-6" class="{{this.clase}}">
    </div>
    <div class="col-6">
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
            <div class="row p-3">
                <img src="../../../assets/images/LogoIzq.png" class="img-fluid" alt="">
            </div>
            <div class="row p-3">
                <p class="text-center">La web nº1 de citas en el CIFP Virgen de Gracia</p>        
            </div>
            <div class="row p-3">
                <div class="col-12">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="email" class="form-control" formControlName="email" id="correo" placeholder="">
                    
                    <div *ngIf="submitted && formulario['email'].errors">
                        <div>El email: </div>
                        <div *ngIf="formulario['email'].errors['required']">No puede estar vacío</div>
                        <div *ngIf="formulario['email'].errors['email']">Debe ser un email válido</div>
                    </div>
                   
                </div>
            </div>
            <div class="row p-3">
                <div class="col-12">
                    <label for="pass" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="pass" formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    
                    <div *ngIf="submitted && formulario['password'].errors">
                        <div>El password: </div>
                        <div *ngIf="formulario['password'].errors['required']">No puede estar vacío</div>
                        <div *ngIf="formulario['password'].errors['pattern']">Debe tener al menos un dígito, una minúscula, una mayúscula y tener como mínimo 8 caracteres</div>
                    </div>
                   
                </div>
            </div>
            <div class="row p-3">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 d-flex justify-content-center">
                    <p><small><a href="">He olvidado mi contraseña</a></small></p>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-12 d-flex justify-content-center">
                    <p><small>¿No tienes una cuenta? <a href="">Crea una</a></small></p>
                </div>
            </div>
        </form>
    </div>
</div>