<div class="row p-4">
    <div class="col-3" *ngFor="let p of listaAmigos" >
        <div class="card">
            <img src="{{p.foto}}" class="card-img-top" >
            <div class="card-body">
                <i bi bi-heart></i>
                <i class="bi bi-circle-fill me-3 align-self-center {{p.iconoConectado}}"></i>
                <h5 class="card-title">{{p.nombre}} {{p.apellidos}}, {{p.edad}}</h5>
                <a href="#" class="btn btn-primary">Ver perfil</a>
            </div>
        </div>
    </div>
</div>